# Spotify Developer App
# 1. Acesse https://developer.spotify.com/dashboard
# 2. Crie um app
# 3. Em "Redirect URIs" adicione: focus://spotify-callback
# 4. Copie o Client ID abaixo
EXPO_PUBLIC_SPOTIFY_CLIENT_ID=id_spotify
